<mat-toolbar class="header mat-elevation-z4">
    <div class="div-logo">
        <span>
            <a>
                <img class="logo" src="../../../../assets/pokemon-logo.png" alt="logo">
            </a>
        </span>
    </div>
</mat-toolbar>
<div style="display:flex; width: 100%; background-color: black; justify-content: center; align-items: center; position: relative">fsdfsd
    <div style="display: flex; justify-content: center; align-items: center; background-color: white; border: solid 12px black; padding: 20px; border-radius: 100px; color: white; position: absolute;">---
</div>
</div>