.example-card {
  display: flex;
  height: 70%;
  max-width: 800px;
  background-color: #F4F3F3;
  border-radius: 30px;
  border: solid 5px gray;
  justify-content: center;
  align-items: center
}

.example-header-image {
  background-size: cover;
}