<div style="height: 100%; display: flex; justify-content: center; align-items: center; ">

    <mat-card class="example-card">
        <div>
            <mat-card-header style="display: flex; justify-content: center; align-items: center;">
                <mat-card-title style="font-size: 50px; margin: 15px; margin-bottom: 25px;"> {{
                    pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) }} </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <img mat-card-image src="{{ pokemon.sprites.front_default }}" style="height: 400px; width: 400px;">
            </mat-card-content>
            <mat-card-content>
                <div style="justify-content: center; display: flex;">
                    <div *ngFor="let type of pokemon.types" style="padding-right: 30px;">
                        <p [ngStyle]="{'background-color': (type.type.name === 'fire') ? 'red' : 
                                              ((type.type.name === 'water') ? 'blue' : 
                                              ((type.type.name === 'grass') ? '#a4d541' :
                                              ((type.type.name === 'flying') ? '#bdbde6' :
                                              ((type.type.name === 'poison') ? '#a44a8b' :
                                              ((type.type.name === 'normal') ? '#e6bd62' :
                                              ((type.type.name === 'electric') ? '#f6bd20' : 
                                              ((type.type.name === 'bug') ? '#6ad531' : 
                                              ((type.type.name === 'ice') ? '#94c5ff' : 
                                              ((type.type.name === 'fighting') ? '#bd314a' :
                                              ((type.type.name === 'ground') ? '#b48310' :
                                              ((type.type.name === 'psychic') ? '#ff5a6a' :
                                              ((type.type.name === 'rock') ? '#524a4a' :
                                              ((type.type.name === 'ghost') ? '#8b6283' :
                                              ((type.type.name === 'dragon') ? '#ee9c39' :
                                              ((type.type.name === 'dark') ? '#29314a' :
                                              ((type.type.name === 'steel') ? '#8b8b8b' :
                                              ((type.type.name === 'fairy') ? '#ffacac' : null)))))))))))))))))}"
                            style="color: white; margin: 0; padding: 10px; border-radius: 20px; min-width: 50px; text-align: center; font-size: 23px; ">
                            {{ type.type.name }}
                        </p>
                    </div>
                </div>
            </mat-card-content>
            <div>
                <mat-card-content>
                    <p style="font-size: 25px; text-align: justify;">Habilidades</p>
                    <p style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius eligendi porro explicabo quod optio. Ipsam esse eum facilis blanditiis saepe minima tempore facere molestias voluptate. Consectetur alias ad minus consequatur.</p>
                    <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci animi ab veniam aliquam et provident eos dolores vitae numquam? Maiores error minus iusto quidem, reiciendis ab expedita sapiente tempora velit.</p>
                </mat-card-content>
            </div>
        </div>
    </mat-card>

</div>