.example-card {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  max-width: 800px;
  min-width: 600px;
  background-color: #F4F3F3;
  border-radius: 30px;
  border: solid 5px gray;
  justify-content: center;
  align-items: center;
}

.example-header-image {
  background-size: cover;
}