.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
}

.centro {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.box {
    justify-content: center;
    width: 55vw;
    height: 100%;
}

.filtro {
    width: 400px;
    text-decoration: none;
    margin: 40px;
    padding: 0;
}
/* 
mat-grid-tile {
    background: #D7D6D6;
} */

.mat-grid-tile-content {
    height: 300px;
    justify-content: start;
    align-items: flex-start;
}
