<div class="container">
    <div class="box">
        <div class="centro">
            <form class="example-form">
                <div class="filtros">          
                        <mat-form-field appearance="fill"
                            style="padding: 0; border: solid 5px gray; border-radius: 10px; width: 350px; margin-right: 30px;">
                            <mat-label>Types</mat-label>
                            <mat-select [(ngModel)]="selectedValue" name="food" (selectionChange)="filter()">
                                <mat-option style="font-size: 17px">All</mat-option>
                                <mat-option *ngFor="let tipo of tipos" [value]="tipo" style="font-size: 17px;">{{ tipo.charAt(0).toUpperCase() +
                                    tipo.slice(1) }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill"
                            style="padding: 0; border: solid 5px gray; border-radius: 10px; width: 350px;">
                            <mat-label>Pokemon</mat-label>
                            <input matInput name="filter" (keyup.enter)="verificador($event)" [(ngModel)] = "name">
                        </mat-form-field>
                </div>

            </form>
        </div>

        <mat-grid-list cols="3" rowHeight="1:1" [cols]="mybreakpoint" (window:resize)="handleSize($event)">
            <mat-grid-tile style="display: flex;" *ngFor="let item of filterPokemons">
                <mat-card
                    style="flex: 1; margin-right: 5px; margin-left: 5px; background-color: #F4F3F3; height: 80%; display: flex; justify-content: center; align-items: center; flex-direction: column; min-height: 20vh;  border: solid 5px grey; border-radius: 15px;"
                    (click)="navigate(item)">
                    <mat-card-title-group style="display: flex; justify-content: center;">
                        <mat-card-title>{{ item.name.charAt(0).toUpperCase() + item.name.slice(1) }}</mat-card-title>

                    </mat-card-title-group>
                    <mat-card-content
                        style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        <img style="max-height: 130px; max-width: 130px; padding: 30px; min-height: 50px; min-width: 50px; image-rendering: pixelated;"
                            mat-card-lg-image src="{{ item.sprites.front_default }}">

                        <div style="justify-content: center; display: flex;">
                            <div *ngFor="let type of item.types">
                                <p [ngStyle]="{'background-color': getPaleta(type.type.name), 'border': getSubPaleta(type.type.name)}"
                                    style="color: white; margin: 0; margin-right: 8px; padding: 10px; border-radius: 20px; min-width: 50px; text-align: center; font-size: 23px; border: solid 3px;">
                                    {{ type.type.name }}
                                </p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
        <div style="display: flex; justify-content:center; align-items: center; margin: 30px;">
            <button mat-button (click)="chamar()"
                style="display: flex; justify-content: center; align-items: center; padding: 20px; border-radius: 20px; border: none; color: white; background-color: #C31C1C; margin-right: 30px; font-size: 20px; border: solid 3px #770000;">More</button>
            <a href="#"
                style="display: flex; justify-content: center; align-items: center; padding: 20px; border-radius: 20px; border: none; color: white; background-color: #C31C1C; text-decoration: none; margin-left: 30px; font-size: 20px; border: solid 3px #770000; width: 30px;">Top</a>
        </div>
    </div>
</div>