<div class="container">
    <div class="box">
        <div class="centro">
            <mat-form-field appearance="fill" class="filtro">
                <mat-label>Pokemons</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="food" (selectionChange)="filter()">
                    <mat-option>All</mat-option>
                    <mat-option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo.charAt(0).toUpperCase() + tipo.slice(1) }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile style="display: flex;" *ngFor="let item of filterPokemons">
                <mat-card
                    style="flex: 1; margin-right: 5px; margin-left: 5px; background-color: #F4F3F3; height: 80%; display: flex; justify-content: center; align-items: center; flex-direction: column; min-height: 30vh;">
                    <mat-card-title-group style="display: flex; justify-content: center;">
                        <mat-card-title>{{ item.name.charAt(0).toUpperCase() + item.name.slice(1) }}</mat-card-title>

                    </mat-card-title-group>
                    <mat-card-content
                        style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        <img style="max-height: 130px; max-width: 130px; padding: 30px;" mat-card-lg-image
                            src="{{ item.sprites.front_default }}">

                        <div style="justify-content: center; display: flex;">
                            <div *ngFor="let type of item.types">
                                <p [ngStyle]="{'background-color': (type.type.name === 'fire') ? 'red' : 
                                                          ((type.type.name === 'water') ? 'blue' : 
                                                          ((type.type.name === 'grass') ? '#a4d541' :
                                                          ((type.type.name === 'flying') ? '#bdbde6' :
                                                          ((type.type.name === 'poison') ? '#a44a8b' :
                                                          ((type.type.name === 'normal') ? '#e6bd62' :
                                                          ((type.type.name === 'electric') ? '#f6bd20' : 
                                                          ((type.type.name === 'bug') ? '#6ad531' : 
                                                          ((type.type.name === 'ice') ? '#94c5ff' : 
                                                          ((type.type.name === 'fighting') ? '#bd314a' :
                                                          ((type.type.name === 'ground') ? '#b48310' :
                                                          ((type.type.name === 'psychic') ? '#ff5a6a' :
                                                          ((type.type.name === 'rock') ? '#524a4a' :
                                                          ((type.type.name === 'ghost') ? '#8b6283' :
                                                          ((type.type.name === 'dragon') ? '#ee9c39' :
                                                          ((type.type.name === 'dark') ? '#29314a' :
                                                          ((type.type.name === 'steel') ? '#8b8b8b' :
                                                          ((type.type.name === 'fairy') ? '#ffacac' : null)))))))))))))))))}"
                                    style="color: white; margin: 0; margin-right: 8px; padding: 10px; border-radius: 20px; min-width: 50px; text-align: center; font-size: 20px;">
                                    {{ type.type.name }}
                                </p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
        <div style="display: flex; justify-content:center; align-items: center; margin: 30px;">
            <button mat-button (click)="chamar()"
                style="padding: 20px; border-radius: 20px; border: none; color: white; background-color: #C31C1C;">more</button>
            <a href="#"
                style="padding: 18px; border-radius: 20px; border: none; color: white;; background-color: #C31C1C; text-decoration: none; margin-left: 60px;">top</a>
        </div>
    </div>
</div>