<div
  style="display:flex; width: 100%; background-color: black; justify-content: center; align-items: center; position: relative">
  ---</div>
<mat-toolbar style="background-color: #C31C1C; color: white;  position: absolute;">
  <mat-toolbar-row
    style="align-items: center; display: flex; justify-content: center; display: flex; flex-direction: row;">
    <div>
      <span>Desenvolvido por Fellipe</span>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row
    style="align-items: center; display: flex; justify-content: center; display: flex; flex-direction: row;">
    <div style="display: flex; justify-content:space-between; width: 120px; text-decoration: none;">
      <a href="mailto:altranfellipe@gmail.com?subject=&body="><i class="fa-solid fa-envelope" style="color: #fff;"></i></a>
      <a href="https://github.com/FellipeAltran"><i class="fa-brands fa-github" style="color: #fff;"></i></a>
      <a href="
      https://wa.me/+5544991786230?text=meu%20zap
      "><i class="fa-brands fa-whatsapp" style="color: #fff;"></i></a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>